<div class="main-box">
  <div class="cuisines-box">
    <ul class="cuisine-list" >
      <li>good</li>
      <li>its</li>
      <li>because</li>
      <li>cuisine</li>
    </ul>
  </div>
  <div class="chefs-cards">
    <% @chefs.each do |chef| %>
    <div class="card-chef">
      <div class="card-img" style="background-image: url(<%=asset_path chef.img_url%>)">
      </div>
      <div class="card-info">
        <h4><%= chef.user.first_name.upcase%>
        <%=chef.user.last_name.upcase%></h4>
        <p><%=chef.speciality.upcase %></p>
        <p>FROM <strong>£<%=chef.price %></strong>/ 3 COURSES</p>
      </div>
    </div>
    <% end %>
  </div>

</div>
  <h1>hi, this is page with our chefs</h1>
<%= link_to "Become a Chef!", new_chef_path %>
