<div class="profile-page">

  <div class="border-left">
  <div class= "profile-left" style="background-image: url('<%= cl_image_path current_user.photo.key %>')"></div>
  <p><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i ><i class="fa-solid fa-star-half-stroke"> </i> 4.50 RATINGS</p>
  </div>

  <div class="profile-info">
    <p>NAME: <%= current_user.first_name.upcase %> <%= current_user.last_name.upcase %></p>
    <p>LOCATION: <%= current_user.address.upcase %></p>
    <p>FAVOURITE CUISINE: <%= "JAPANESE, MEXICAN, MONGOLESE" %></p>
    <p>EMAIL: <%= current_user.email.upcase %></p>
    <p>PHONE: <%="00491735796327"%></p>

    <div  class="my-bookings">
    <h1> MY BOOKINGS:</h1>

    <div class="recent-bookings">
      <div class="booking1">
      <h2>CHEF NATASHA</h2>
      <p>06/06/2022 - 08/06/2022</p>
      <%= image_tag "natasha.png" %></div>

      <div class="booking2">
      <h3>CHEF GLORIA</h3>
      <p>06/06/2021 - 08/06/2021</p>
      <%= image_tag "Personal-Chef.jpg" %></div>

    </div>
    </div>

  </div>

</div>
